html, body {
    margin:0;
    padding:0;
    background-color: white;
    color: whitesmoke;
    font-family: Helvetica, sans-serif; 
}

body {
    min-width: 1250px;
    display: grid;
    grid-template-columns: 20rem auto auto auto   ;
    grid-template-rows: 4.5rem 20rem 20rem;
    grid-template-areas: 
    "header header header header"
    "lift box1 box1 box1"
    "lift box2 box2 box2";
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}
/*--------------HEADER SECTION-----------------*/

#grid-header {
    /* position */
    grid-area: header;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    color: rgb(27, 27, 27);

    /* other */
    background-color: rgb(231, 172, 45);
}

#grid-header h1 { 
    /* other */
    font-size: 1rem;

    /* text */
    text-align: center;
    letter-spacing: 0.50rem;
}

/*--------------BOXES----------------*/

.box {
    margin: 0.75rem;
}

#box1 {
    grid-area: box1;
}

#box2 {
    grid-area: box2;
}

/*-------------LIFT SECTION-------------*/

#grid-lifts {
    /* position */
    grid-area: lift;
    width: 20.5rem; 
    height: 40rem; 
    overflow-x: hidden; 
    overflow-x: auto; 
    
    /* other */
    background-color: white;
}

#grid-lifts button {
    /* position */
    width: 18rem;
    padding: 1.3rem;
    margin: .75rem 0rem 0rem 1rem;
    border: 0px;

    /* text */
    font-size: 0.85rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(27, 27, 27);

    /* other */
    background-color: rgb(231, 172, 45);
}

#grid-lifts button:hover {
    background-color:rgb(243, 196, 95);
}

.hidden {
    height: 0px !important;
    max-height: 0px !important;
    width: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 0px !important;
    font-weight: 0px !important;
    visibility: hidden;
}

/*-------ADD EXERCISE BUTTON----------*/

#grid-lifts #add-exercise-button {
    /* text */
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;

    /* to make symbol flip on x-axis */
    transform: scale(1, -1);
}

#grid-lifts #add-exercise-form {
    /* position */
    width: 16rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 0.1rem;

    /* text */
    font-size: 0.75rem;
    font-weight: 700;

    /* other */
    background-color: rgb(231, 172, 45);
}

#grid-lifts #set-form {
    margin: 0.5rem;
}

#grid-lifts .set-form span {
    margin: 1rem;
}

#grid-lifts #add-set-button, #grid-lifts #remove-set-button {
    /* position */
    border: 5px solid;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    width: 4rem;
    font-size: 1rem;
    height: 2.5rem;

    /* text */
    text-align: center;
    color: rgb(231, 172, 45);

    /* other */
    background-color: rgb(27, 27, 27);
}

#grid-lifts #add-exercise-form {
    text-align: center;
}

#grid-lifts [name='add-exercise-submit-button'] {
    /* position */
    border: 5px solid;
    padding: 7px 0px;

    /* text */
    text-align: center;
    color: rgb(231, 172, 45);

    /* other */
    background-color: rgb(27, 27, 27);
}

@-webkit-keyframes autofill {
    0%,100% {
        color: rgb(27, 27, 27);
        background: rgb(102, 152, 182);
    }
}

#grid-lifts input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#grid-lifts input {
    /* position */
    border: solid black;
    border-width: 0rem 0rem 1px 0rem;
    width: 8rem;

    /* text */
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    color: rgb(255, 255, 255);

    /* other */
    background-color: rgb(231, 172, 45);
}

#grid-lifts [name="input-reps"], #grid-lifts [name="input-weight"] {
    width: 3rem;
}

/*--------------SETS----------------*/
#grid-lifts .reps-n-sets {
    border: 2px solid rgb(27, 27, 27);
    background-color: rgb(27, 27, 27);
    border-radius: 50px;
    padding: 1px 13px;
    font-weight: 400;
    transition: background-color .25s, color .25s, border-color .25s, color .25s;
}

#grid-lifts .sets {
    /* position */
    width: 17rem;
    padding: 1rem 0rem 1rem 1rem;
    margin: .1rem 1rem 0rem 1rem;
    height: auto;
    max-height: 1000px;
    white-space: nowrap;
    overflow: hidden;

    /* text */
    text-align: left;
    font-weight: 700;

    /* other */
    background-color: rgb(231, 172, 45);;
}

#grid-lifts .set-number {
    /* position */
    padding: 4px 9px;
    margin: 0rem 2rem 0rem 0rem;
    border-radius: 50%;

    /* text */
    font-weight: 600;
    color: rgb(231, 172, 45);

    /* other */
    background-color: rgb(27, 27, 27);
}

#grid-lifts .set {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    color: rgb(231, 172, 45);
}

#grid-lifts .x-symbol {
    margin: 1rem;
    color: rgb(231, 172, 45)
}

#grid-lifts #exercise-name {
    float: left;
}

#grid-lifts #exercise-date {
    float: right;
}

#grid-lifts div.sets .edit-button {
    /* position */
    padding: 0px;
    margin: 0px 20px 0px 30px;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50% 0% 50% 50%;

    /* text */
    color: rgb(231, 172, 45);
    text-align: center;
    font-size: 1rem;
    font-weight: 900;

    /* other */
    background-color: rgb(27, 27, 27);
    transform: scale(-1, -1);
    transition: width .25s, border-radius .25s, margin .25s, background-color .25s;

}

/*--------------CALENDAR SECTION----------------*/

/* LEFT */
#calendar-day {
    width: 16.5rem;
    height: 19rem;
    background-color: rgb(30, 54, 160);
    float: left;
    text-align: center;
    color: rgb(231, 172, 45);
}

#calendar-day-month{
    padding-top: 2.5rem;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 2rem;
}

#calendar-day-day{
    margin: 0rem;
    font-size: 6.2rem;
    font-weight: 800;
    line-height: 6rem;
}

#worked-out {
    font-size: 6rem;
}

#calendar-month {
    height: 19.5rem;
}

/*--- RIGHT ---*/

.weekdays {
    /* position */
    margin: 0;
    padding: 1.7rem 1.5rem .6rem;
    height: 2rem;
    vertical-align: middle;

    /* text */
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;

    /* other */
    white-space: nowrap;
    overflow: hidden; 
    background-color:rgb(231, 172, 45);
}
  
.weekdays li {
    display: inline-block;
    width: 13.5%;
    color: rgb(27, 27, 27);
    text-align: center;
}
  
.days {
    /* position */
    height: 13.55rem;
    padding: 18px 0px 0px;
    margin: 0;
    align-items: center;

    /* text */
    text-align: center;

    /* other */
    overflow: hidden; 
    white-space: nowrap;
    background: whitesmoke;
}
  
.days li {
    /* position */
    display: inline-block;
    height: 2rem;
    width: 13.5%;
    vertical-align: 100%;

    /* text */
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(27, 27, 27);
  }
  
/* Highlight the "current" day */
span.worked-out {
    padding: 8px;
    background: rgb(231, 172, 45);
    border-radius: 50%;
    z-index: 1;
}

div.week span.active {
    padding: 8px;
    background: rgb(30, 54, 160);
    border-radius: 50%;
    z-index: 2;
    color: whitesmoke;
}

li.inactive {
    color: whitesmoke;
}

/*--------------VIDEO SECTION----------------*/

iframe {
    border: 0px;
    width: 563px;
    height: 297px;
}

#workout-links {
    width: 40%;
    float: left;
}

#workout-video {
    width: 60%;
    float: left;
}

.vid-button {
    /* position */
    width: 10rem;
    height: 3rem;
    padding: 1.6rem 1rem 2.5rem;
    margin: .3rem 1rem .3rem 0rem;
    border: 0px;
    border-radius: 0px 20px 0px 20px;

    /* text */
    font-weight: 600;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: whitesmoke;

    /* other */
    background-color: rgb(30, 54, 160);
}

.vid-button:hover {
    background-color: rgb(68, 93, 202);
    color: rgb(27, 27, 27);
}

.editing {
    background-color: whitesmoke !important;
    color: rgb(27, 27, 27) !important;
    width: 4.2rem !important;
    margin: 0px 10px 0px 0px !important;
    border-radius: 2rem !important;
    transform: none !important;
    font-size: .5rem !important;
    white-space: nowrap !important;
    overflow: hidden;
    transition: width .25s, border-radius .25s, margin .25s, background-color .25s;
}

.being-edited {
    background-color: whitesmoke !important;
    color: rgb(100, 100, 100) !important;
    border-color: whitesmoke !important;
    font-weight: 900 !important;
    transition: background-color .25s, color .25s, border-color .25s, color .25s;
}